h2{
    text-align: center;
}
.about{
    display: flex;
    padding: 0px 150px;
    padding-bottom: 30px;
}
.about-img{
    width: 30%;
    margin-left: 80px;
}
.text-about {
    text-align: right;
}